---
import Layout from "../layouts/Layout.astro";
import Jumbotron from "../components/Jumbotron.astro";
import TarjetaSimple from "../components/TarjetaSimple.astro";
import Divicionseccione from "../components/Divicionseccione.astro";
import Iconos from "../components/Iconos.astro";

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.

const cardList = [
    {
        title: "Membership Organisation",
        parrafo:
            "Our membership management software provides full automation of membership renewals and payments ",
        icono: "tarjeta1",
    },
    {
        title: "National Associationsent",
        parrafo:
            "membership management software provides full automation of membership renewals and paym",
        icono: "tarjeta2",
    },
    {
        title: "clubs and groups",
        parrafo:
            "Our membership managemet sofware provides full automation of membership renewals and payments",
        icono: "tarjeta3",
    },
];
---

<Layout>
    <Jumbotron />

    <Divicionseccione
        image="/Illustration.png"
        title="the unseen of spending thee year at pixelgrade"
        param="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sit amet justo ipsum. Sed accumsan quam vitae est varius fringilla. Pellentesque placerat vestibulum lorem sed porta. Nullam mattis tristique iaculis. Nullam pulvinar sit amet risus pretium auctor. Etiam quis massa pulvinar, aliquam quam vitae, tempus sem. Donec elementum pulvinar odio."/>

    <section>
        <h2>Manage your entire community in a single systen</h2>
        <p>Who is nexcent suitable for?</p>

        <div class="tarjetasimple">{
                cardList.map(function (props) {
                    return (
                        <TarjetaSimple
                            title={props.title}
                            parrafo={props.parrafo}
                            icono={props.icono}/>
                    );
                })
            }
        </div>

    </section>

    <Divicionseccione
        image="/Illustration.png"
        title="How to design your site footer like we did"
        param="Donec a eros justo. Fusce egestas tristique ultrices. Nam tempor,augue nec tincidunt molestie, massa nunc varius arcu, at scelerisque elit erat a magna. Donec quis erat at libero ultrices mollis. In hac habitasse platea dictumst. Vivamus vehicula leo dui, at porta nisi facilisis finibus. In euismod augue vitae nisi ultricies, non aliquet urna tincidunt. Integer in nisi eget nulla commodo faucibus efficitur quis massa. Praesent felis est, finibus et nisi ac, hendrerit venenatis libero. Donec consectetur faucibus ipsum id gravida."/>

    <Iconos />
</Layout>

<style>
    .tarjetasimple {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }
</style>
