---
import Layout from '../layouts/Layout.astro';
import Jumbotron from '../components/Jumbotron.astro'
import TarjetaSimple from '../components/TarjetaSimple.astro';
// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
    <Jumbotron /> 


    
    <section>

        <h2>Manage your entire community in a single systen</h2>
        <p>Who is nexcent suitable for?</p>

        <div>
            <TarjetaSimple title='Membership Organisation' />
            <TarjetaSimple title='National Associations' />
            <TarjetaSimple title='clubs and groups' />

        </div>

    </section>
    
</Layout>

