---

interface Props {
   image: string
   title: string
   param: string
}

const { image, title, param } = Astro.props

---

<section>
   <img src={image} alt="" />

   <div>
      <h2>{title}</h2>

      <p>{param}</p>
      <!-- Esta parte no se cambia -->
      <button>Learn More</button>
   </div>
</section>

<style>
   section {
      display: flex;
   }

</style>

