---

interface Props {
   image: string
   title: string
   param: string
}

const { image, title, param } = Astro.props

---

<section>
   <img src={image} alt="" />

   <div>
      <h2>{title}</h2>

      <p>{param}</p>
      <!-- Esta parte no se cambia -->
      <button class="buttondoble">Learn More</button>
   </div>
</section>

<style>
   section {
      display: flex;
   }
   .buttondoble
    background-color: #4caf4f;
        color: aliceblue;
        padding: 12px 36px;
        border-radius: 10px;
        font-weight: 700;
        transition: background .3s ease-in-out;
        cursor:pointer;
</style>

