<footer>
    <div>
        <h4>company</h4>

        <ul>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            
        </ul>

        <div>
            


        </div>









    </div>
</footer>