<div>
    <h2>Our clients</h2>

    <p>We have been working with some future 500 clients</p>

    <div>
        <span>icono</span>
        <span>icono</span>
        <span>icono</span>
        <span>icono</span>
        <span>icono</span>
        <span>icono</span>
        <span>icono</span>

    </div>
</div>
