---
import { Icon } from "astro-icon/components";
---

<div>
    <h2>Our clients</h2>

    <p>We have been working with some future 500 clients</p>

    <div>
        <Icon name={"Logo (1)"} />
        <Icon name={"Logo (2)"} />
        <Icon name={"Logo (3)"} />
        <span>icono</span>
        <span>icono</span>
        <span>icono</span>
        <span>icono</span>

    </div>
</div>
