

<section>
    <div class="eheeee">
        <h1>lessons and insights<br> <span>from 8 years</span></h1>

        <p>
            Where to grow your business as a photographer: site or social media?
        </p>

        <button>register</button>
    </div>

    <img src="/Illustration.png" alt="" />
</section>

<style>
    section {
        display: flex;
        padding: 60px;
        align-items: center;
        justify-content:  center;
        gap: 32px;
    }
@media (max-width:768px) {
     section {
        flex-direction: column-reverse;
        text-align: center;

    }
    
}
  h1 {
        font-weight: bold;
        font-size: 56px;
        line-height: 58px;
    }
    h1 span {
        color: #4caf4f;
    }

    .eheeee {
        display: flex;
        flex-direction: column;
        gap: 32px;
        align-items: start;
    }


 @media (max-width:768px) {
        .eheeee{
            align-items: center;

        }
        
    }
      
    button{
        background-color: #4caf4f;
        color: aliceblue;
        padding: 12px 36px;
        border-radius: 10px;
        font-weight: 700;
        transition: background .3s ease-in-out;
        cursor:pointer;
    }

    button:hover{
        background-color: #229826;

    }
   

</style>

