<header>
    <nav class="menu">
        <div class="logo">
            <span>icono</span>
            <p>nexcent</p>
        </div>
        <div class="enlace">
            <a href="">Home</a>
            <a href="">Service</a>
            <a href="">Feature</a>
            <a href="">Product</a>
            <a href="">Testimonial</a>
            <a href="">Faq</a>
        </div>
        <div>
            <button class="button1">loginLogin</button>
            <button>sing upSign up</button>
        </div>
    </nav>
</header>

<style>
    .menu {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 12px 64px;

    }
    .logo {
        display: flex;
        gap: 16px;
        align-items: center;
    }
    .enlace {
        display: flex;
        gap: 32px;
    }

    .button1{
        /* color de fondo */
        background-color: aliceblue rdg(166, 45, 45);
        /* espacios a los lados  */
        padding: 8px 24px;
        /* color de texto */
        color: chartreuse;
        /* redondeado de bordes */
        border-radius: 5px;
        /* grosor de texto */
        font-weight: bold;
    }

    
</style>
