<header>
    <nav class="menu">
        <div class="logo">
            <span>icono</span>
            <p>nexcent</p>
        </div>
        <div class="enlace">
            <a href="">Home</a>
            <a href="">Service</a>
            <a href="">Feature</a>
            <a href="">Product</a>
            <a href="">Testimonial</a>
            <a href="">Faq</a>
        </div>
        <div>
            <button></button>
            <button></button>
        </div>
    </nav>
</header>
