---
import { Icon } from 'astro-icon/components'
---

<header>
    <nav class="menu">
        <div class="logo">
            <Icon name={'logo'} />
            <p>nexcent</p>
        </div>
        <div class="enlace">
            <a href="">Home</a>
            <a href="">Service</a>
            <a href="">Feature</a>
            <a href="">Product</a>
            <a href="">Testimonial</a>
            <a href="">Faq</a>
        </div>




        <div>
            <button class="button1">login</button>
            <button class="button2">sing up</button>
        </div>


        <div id="menu">menu</div>

    </nav>
</header>

<style>

    .menu {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 12px 64px;



    }
    .logo {
        display: flex;
        gap: 16px;
        align-items: center;
    }
    .enlace {
        display: flex;
        gap: 32px;
    }


    @media (max-width: 768px) {
        .enlace {
            position: absolute;
            top: 60px;
            background-color: #fff;
            z-index: 100;
            flex-direction: column;
            width: 100%;
            gap: 12px;
            left: -100;
            transition: left .3s ease-in-out;
        }

.enlaces.show {
    left: 0;
}



    }





    .button1{
        * color de fondo */
        background-color: aliceblue rdg(166, 45, 45);
        /* espacios a los lados  */
        padding: 8px 24px;
        /* color de texto */
        color: chartreuse;
        /* redondeado de bordes */
        border-radius: 5px;
        /* grosor de texto */
        font-weight: bold;
    }


        .button2{ 
            background-color: chartreuse;
            padding: 8px 24px;
            color: aliceblue;
            border-radius: 5px;
            font-weight: bold;


        }

    #menu {
        display: none;


    }
    @media (max-width 768px) {
        #menu

    }
    
</style>

<script>
    

 document.getElementById('menu')?.addEventListener('click', function (){
       document.getElementById('enlaces')?.classList.
       toggle('show')

 })
</script>
