<header>
    <nav>
        <div>
            <span>icono</span>
            <p>nexcent</p>
        </div>
        <div>
            <a href="">Home</a>
            <a href=""></a>
            <a href=""></a>
            <a href=""></a>
            <a href=""></a>
            <a href=""></a>
        </div>
        <div>
            <button></button>
            <button></button>
        </div>
    </nav>
</header>
