---
import{ Icon } from 'astro-icon/components'

interface Props{
  icono:string
  title:string
  parrafo : string
}

const { title, parrafo,icono} = Astro.props

---

<div class="tarjetasimple">
     <Icon name={icono} width={64} height={64} />
    <h3>{ title }</h3>
    <p>
       {parrafo}
    </p>
</div>

<style>
.tarjetasimple {text-align: center;

}

p {

}

h3 {
  font-size: 24px;
  font-weight: 700;
  
}

</style>