---
interface Props{
  title:string
}

const { title} = Astro.props
---

<div>
    <span>icono</span>
    <h3>{ title }</h3>
    <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Magni
        reiciendis consequatur voluptatum similique eius atque blanditiis
        corrupti, tenetur enim, deserunt labore! Culpa aspernatur placeat, neque
        quaerat aliquid voluptatum error atque.
    </p>
</div>
